.docs {
  &--wrapper {
    position: relative;
    background-color: $c-grey-dark;
    padding: 0 10px 40px 10px;
    @include mq(tablet) {
      padding: 0 20px 40px 20px;
    }
    height: 100%;
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin: -5px auto 0;
    @include mq(mobileLandscape) {
      padding-bottom: 110px;
      max-width: 580px;
      margin-top: 0;
    }
    @include mq(tablet) {
      width: 700px;
      max-width: 1300px;
      padding-bottom: 100px;
    }
    @include mq(desktop) {
      width: 940px;
      padding-bottom: 125px;
    }
    @include mq(leftCol) {
      width: 1100px;
      padding-bottom: 52px;
    }
    @include mq(wide) {
      width: 1260px;
    }
  }
  &--about {
    &-wrapper {
      opacity: 0;
      visibility: hidden;
      transition: all 360ms;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(51,51,51,0.8);
      z-index: 99999;
    }
    &-overlay {
      position: relative;
      margin: 0 auto;
      width: 90%;
      height: 90%;
      margin-top: 15%;
      max-width: 580px;
      @include mq(mobileLandscape) {
        margin-top: 10%;
      }
      @include mq(tablet) {
        height: auto;
      }
      @include mq(leftCol) {
        width: 50%;
        margin-top: 5%;
      }
    }
    &-body {
      box-shadow: inset 0 -1px 0 0 $c-grey-mid, inset 0 2px 0 0 $c-grey-lightest;
      background-color: $c-grey-lightest;
      color: $c-background;
      margin: 0 auto;
      padding: 8px 20px 5px 20px;
      z-index: 2;
      overflow-y: scroll;
      @include mq(mobile){
        height: 100%;
      }
      & p {
        line-height: 1.4em;
        margin-bottom: 8px;
        a {
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-legal {
      border-top: 1px solid rgba(60,60,60,0.5);
      padding-top: 3px;
      margin-top: 15px;
      color: $c-grey-light;
    }
    &-headline {
      @include fs-bodyCopy(2);
      font-weight: 800;
    }
  }
  &--show-about {
    visibility: visible;
    opacity: 1;
  }
  &--meta {
    color: $c-grey-light;
    @include fs-textSans(4);
    font-weight: 400;
    font-size: 14px;
  }
  &--standfirst {
    &-wrapper {
      padding-top: 2px;
      @include fs-bodyCopy(2);
      @include mq(mobile) {
        padding-left: 1%;
      }
      @include mq(mobileLandscape) {
        padding-left: 0;
        width: 50%;
        display: inline-block;
      }
      @include mq(tablet) {
        padding-left: 0;
      }
      @include mq(desktop) {
        padding-left: 0;
        width: 70%;
      }
      @include mq(leftCol) {
        width: 50%;
        position: relative;
      }
    }
    &-shortdesc,
    &-longdesc{
      color: white;
      p {
        line-height: 22px;
        margin-top: 11px;
      }
    }
    &-read-more {
        @include icon-showmore;
        width: 200px;
        text-indent: 4px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
    }
    &-shortdesc {
      overflow : hidden;
      text-overflow: ellipsis;
    }
    &-hidden {
      display: none;
    }
  }
  &--show-longdesc {
    display: block;
    @include icon-showless;
  }
  &--credits {
    &-wrapper{
      margin: 0;
      padding: 5px 0 10px 0;
      color: $c-white;
      li {
        list-style-type: none;
        line-height: 20px;
      }
    }
    &-title {
    @include fs-bodyCopy(2);
    font-weight: 800;
    font-size: 15px;
    margin-top: 20px;
    }
  }
  &--actions {
    &__trailer {
      margin: 9px 0 3px;
      cursor: pointer;
      position: relative;
      line-height: 32px;
      padding-left: 34px;
      font-size: 14px;
      color: #fb0;
      font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      @include icon-play-small;
      &:before {
        transition: transform 120ms;
        backface-visibility: visible;
      }
      &:hover {
        &:before {
          transform: scale(1.1);
        }
      }
      &__duration {
        position: relative;
        &:after {
          content: '';
          width: 1px;
          height: 16px;
          background-color: #fb0;
          opacity: 0.8;
          display: inline-block;
          position: absolute;
          left: 45px;
          top: -1px;
        }
        &:before {
          content: 'Trailer';
          display: inline-block;
          margin-right: 11px;
        }
      }
    }
  }
  &--sponsor {
    @include dividers;
    font-size: 14px;
    @include mq(mobileLandscape) {
      float: right;
      margin: 95px 0 0 0;
      width: 37%;
    }
    @include mq(desktop) {
      width: 220px;
    }
    @include mq(leftCol) {
      @include divider-invisible;
      float: left;
      width: 140px;
      margin: 0 20px 0 0;
    }
    @include mq(wide) {
      width: 220px;
    }
    &-supported {
      display: inline-block;
      margin: -6px 0 5px;
      line-height: 47px;
      vertical-align: top;
      padding-right: 5px;
      @include mq(mobileLandscape) {
        display: block;
        line-height: 20px;
      }
      @include mq(tablet) {
        display: inline-block;
        line-height: 47px;
      }
      @include mq(leftCol) {
        display: block;
        line-height: 20px;
      }
    }
    &-logo {
      height: 47px;
      display: inline-block;
      &:after {
        content: '';
        display: block;
        width: 115px;
        height: 47px;
        background-image: url('https://interactive.guim.co.uk/video-docs-assets/bertha-logo@3x.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include mq(mobileLandscape) {
          top: 10px;
        }
        @include mq (leftCol) {
          left: 0;
          top: 35px;
        }
      }
    }
    &-aboutfilms {
      font-size: 12px;
      cursor: pointer;
      @include mq(mobile) {
        display: block;
        margin-left: 95px;
      }
      @include mq(mobileLandscape) {
        margin-left: 0;
      }
      @include mq(tablet) {
        display: block;
        margin-left: 95px;
      }
      @include mq(leftCol) {
        margin: 0;
      }
    }
  }
  &--timestamp {
    @include icon-timestamp;
    @include dividers;
    font-size: 12px;
    width: 45%;
    display: inline-block;
    @include mq(mobileLandscape) {
      @include divider-invisible;
      width: 35%;
      right: 20px;
      top: -6px;
      position: absolute;
      font-size: 14px;
    }
    @include mq(tablet) {
      top: 0;
    }
    @include mq(desktop) {
      width: 218px;
      top: 0;
      right: 20px;
    }
    @include mq(leftCol) {
      right: 100px;
    }
    svg {
      padding-right: 4px;
    }
    @include mq(tablet) {
      span {
        position: relative;
        bottom: 6px;
      }
      &:after {
        margin-top: -2px;
        margin-right: 5px;
      }
    }
  }
  &--social {
    @include dividers;
    width: 45%;
    position: absolute;
    right: 20px;
    display: inline-block;
    @include mq(mobileLandscape) {
      width: 35%;
      top: 40px;
      right: 20px;
    }
    @include mq(desktop) {
      width: 218px;
      right: 20px;
    }
    @include mq(leftCol) {
      top: 35px;
      right: 100px;
    }
    &button.docs--social {
      background-color: transparent;
      border: solid 0.7px $c-share-border;
      opacity: 0.6;
      right: 0;
    }

    .interactive-share {
      background-color: transparent;
      border: solid 0.7px $c-share-border;
      opacity: 0.6;
      margin-right: 5px;
      &:hover {
        background-color: $c-background;
      }
    }
    &-buttons {
      position: absolute;
      left: 0;
      top: 15px;
    }
    &-share-container {
      @include icon-share;
      color: $c-grey-light;
      font-size: 14px;
      height: 36px;
      @include fs-textSans(4);
      font-weight: 400;
      border-right: 1px solid rgba(153,153,153,0.1);
      width: 38%;
      @include mq(mobileLandscape) {
        width: 55%;
        svg {
          width: 16px;
          width: 16px;
        }
      }
      padding-right: 13px;
      svg {
        color: $c-grey-light;
        padding-top: 10px;
        float: left;
      }
    }
    &-share-number {
        padding-left: 20px;
        @include mq(mobileLandscape) {
          padding-left: 20px;
          padding-top: 4px;
          line-height: 12px;
        }
    }
    &-share-font-bold {
      @include fs-textSans(4);
      font-weight: 500;
      font-size: 15px;
      @include mq(mobileLandscape) {
        font-size: 16px;
      }
    }
    &-share-wrap {
      display: block;
      margin-top: -4px;
      @include mq(mobileLandscape) {
        display: inline-block;
        font-size: 14px;
        margin-left: 4px;
      }
    }
  }
  &--playback {
    &-wrapper {
      height: 10px;
    }
    &-main {
      width: 100%;
      height: 100%;
      line-height: 180%;
      color: $c-white;
      background-color: $c-grey-dark;
    }
  }
}

.docs--chapters {
  overflow-y: hidden;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &-wrapper {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background-color: #000;
    counter-reset: chapters;
    overflow: hidden;
    transition: height 240ms;
    height: 0;
    .docs__poster--wrapper--playing + & {
      height: 55px;
    }
  }
  li {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    @include fs-textSans(4);
    white-space: pre-wrap;
    padding: 5px;
    margin: 5px 10px;
    color: $c-grey-light;
    font-size: 15px;
    line-height: 17px;
    position: relative;
    border-top: 1px solid #333;
    position: relative;
    &:before {
      display: block;
      line-height: 14px;
      display: block;
      color: $c-grey-light;
      font-size: 12px;
      counter-increment: chapters;
      content: "Chapter " counter(chapters);
    }
    &:hover {
      opacity: 1;
    }
    .progress {
      z-index: 10;
      position: absolute;
      top: -1px;
      left: 0;
      height: 1px;
      background-color: $c-grey-lightest;
      opacity: 0;
      transition: width 300ms;
    }
  }
  &-active {
    //Apologies but can only make work with !important
    border-top: 1px solid $c-grey-light !important;
    opacity: 1;
    transition: all 360ms;
    .progress {
      opacity: 1 !important;
    }
  }
  &-inactive {
    transition: all 360ms;
    opacity: 0.5;
  }
}
