@mixin dividers {
  &:before {
    content: '';
    width:100%;
    height:1px;
    background-color: #474747;
    margin: 5px 0 4px 0;
    display:block;
    }
}

@mixin divider-invisible {
  &:before {
    background-color: transparent;
  }
}

@mixin icon-showmore {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M8 0.5c-4.4 0-8 3.6-8 8 0 4.4 3.6 8 8 8 4.4 0 8-3.6 8-8C16 4.1 12.4 0.5 8 0.5zM13.5 8.9L8.6 9.1 8.4 14H7.6L7.4 9.1 2.5 8.9V8.1L7.4 7.9 7.6 3h0.8L8.6 7.9l4.9 0.2V8.9z" style="fill:#DDDBD7;opacity:0.6"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float:left;
    margin-right: 10px;
  }
}

@mixin icon-timestamp {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M12 6c0 3.3-2.7 6-6 6C2.7 12 0 9.3 0 6 0 2.7 2.7 0 6 0 9.3 0 12 2.7 12 6zM6.4 1.1H5.6L5.2 6.2l0.8 0.7 4.2-0.4V5.7L6.8 5.5 6.4 1.1z" fill="#676767"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    margin-right: 5px;
  }
}

@mixin icon-share {
  &:after {
    content: '';
    position: absolute;
    top: 40%;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11.1 10.9"><path d="M11.1 9.3c0 0.9-0.7 1.6-1.6 1.6 -0.9 0-1.6-0.7-1.6-1.6 0-0.1 0-0.1 0-0.2L2.9 6.6c-0.3 0.3-0.7 0.5-1.1 0.5 -0.9 0-1.7-0.7-1.7-1.6 0-0.9 0.7-1.6 1.7-1.6 0.4 0 0.8 0.2 1.1 0.5l4.9-2.4C7.8 1.8 7.8 1.7 7.8 1.6 7.8 0.7 8.5 0 9.4 0c0.9 0 1.6 0.7 1.6 1.6 0 0.9-0.7 1.7-1.6 1.7 -0.4 0-0.8-0.2-1.1-0.4L3.4 5.3c0 0 0 0.1 0 0.2 0 0.1 0 0.2 0 0.2l4.9 2.4c0.3-0.3 0.7-0.4 1.1-0.4C10.3 7.6 11.1 8.4 11.1 9.3zM8.4 1.6c0 0.5 0.5 1 1 1 0.5 0 1-0.4 1-1 0-0.5-0.4-1-1-1C8.9 0.7 8.4 1.1 8.4 1.6zM10.4 9.3c0-0.5-0.4-1-1-1 -0.5 0-1 0.4-1 1 0 0.5 0.5 1 1 1C10 10.3 10.4 9.8 10.4 9.3z" fill="#999"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
  }
}

a:link, a:hover, a:visited {
  color: #999;
}

.icon-test {
  @include icon-showmore;
}

.docs--wrapper {
  position: relative;
  padding:10px;
  background-color: #333;
  padding: 0 10px 0 10px;
  max-width: 1300px;
  height: 500px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto;
  @include mq(mobileLandscape) {
    padding: 0 20px 0 20px;
  }
  @include mq(tablet) {
    width:660px;
  }
  @include mq($from:desktop) {
    width:910px;
  }
  @include mq(leftCol) {
    width: 1300px;
  }
}

.docs--meta {
  color:#999;
  font-family: "Guardian Agate Sans 1 Web";
  font-weight:400;
  font-size: 14px;
}

.docs--standfirst {
  @include dividers;
  @include divider-invisible;
  font-family: "Guardian Egyptian Web";
  color: white;
  height: 48px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @include mq(mobileLandscape) {
    width:60%;
    display: inline-block;
  }
  @include mq($from:leftCol) {
    left: 170px;
    position: relative;
    &-read-more {
      left: 170px;
      position: relative;
    }
  }
}

.docs--standfirst-read-more {
    @include icon-showmore;
}


.docs--sponsor {
  @include dividers;
  width:100%;
  height:72px;
  position: relative;
  font-size: 14px;
  @include mq(mobileLandscape) {
    width:35%;
    right: 20px;
    top:110px;
    display: inline-block;
    position: absolute;
  }
  @include mq(leftCol) {
    @include divider-invisible;
    width: 218px;
    left: 10px;
    top:0;
  }
}

.docs__logo--sponsor {
  span{
    position: absolute;
    padding-top: 12px;
  }
  @include mq (leftCol) {
    span {
      padding-top: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 90px;
    top: 5px;
    width: 115px;
    height: 47px;
    background-image: url('https://interactive.guim.co.uk/video-docs-assets/bertha-logo@3x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include mq(mobileLandscape) {
      top:10px;
    }
    @include mq (leftCol) {
      left: 10px;
      top: 35px;
    }
  }
}

.docs--timestamp {
  @include icon-timestamp;
  @include dividers;
  font-size: 12px;
  width:45%;
  display: inline-block;
  @include mq(mobileLandscape) {
    @include divider-invisible;
    width: 35%;
    right: 20px;
    top: 0;
    position: absolute;
    font-size: 14px;
  }
  @include mq(leftCol) {
    width: 218px;
    right: 100px;
  }
  svg {
    padding-right: 4px;
  }
  span {
    margin-top: -5px;
  }
}

.docs--social {
  @include dividers;
  width: 45%;
  position: absolute;
  right: 10px;
  display: inline-block;
  @include mq(mobileLandscape) {
    width: 35%;
    margin-top:-30px;
    right: 20px;
  }
  @include mq(leftCol) {
    width: 218px;
    right: 100px;
  }
  &button.docs--social {
    background-color: transparent;
    border: solid 0.7px #dddbd7;
    opacity: 0.6;
    right: 0;
  }

  .interactive-share {
    background-color: transparent;
    border: solid 0.7px #dddbd7;
    opacity: 0.6;
    margin-right: 6px;
  }
  &-buttons {
    position: absolute;
    right: 0;
    top: 10px;
  }

}
.docs--social-share-container {
  @include icon-share;
  color: #999;
  font-size: 14px;
  height:36px;
  font-family: "Guardian Agate Sans 1 Web";
  font-weight:400;
  border-right: 1px solid rgba(153,153,153,0.1);
  width:38%;
  @include mq(mobileLandscape) {
    width: 55%;
    svg {
      width:16px;
      width: 16px;
    }
  }
  padding-right: 13px;
  svg {
    color: #999;
    padding-top: 10px;
    float: left;
  }
}

.docs--social-share-number {
    padding-left: 15px;
    @include mq(mobileLandscape) {
      padding-left: 20px;
      padding-top: 6px;
    }
}
.docs--social-share-font-bold {
  font-family: "Guardian Agate Sans 1 Web";
  font-weight:900;
  font-size: 15px;
  @include mq(mobileLandscape) {
    font-size: 16px;
  }
}

.docs--social-share-wrap {
  display: block;
  margin-top: -4px;
  @include mq(mobileLandscape) {
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
  }
}
