.docs {
  &--wrapper {
    position: relative;
    background-color: $c-grey-dark;
    padding: 0 20px 40px 20px;
    height: 100%;
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin: -5px auto 0;
    @include mq(mobileLandscape) {
      padding-bottom: 100px;
      max-width: 580px;
      margin-top: 0;
    }
    @include mq(tablet) {
      width: 700px;
      max-width: 1300px;
      padding-bottom: 120px;
    }
    @include mq(desktop) {
      width: 940px;
      padding-bottom: 150px;
    }
    @include mq(leftCol) {
      width: 1100px;
      padding-bottom: 70px;
    }
    @include mq(wide) {
      width: 1260px;
    }
  }
  &--about {
    &-wrapper {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(51,51,51,0.8);
      z-index: 15;
    }
    &-body {
      @include icon-close;
      box-shadow: inset 0 -1px 0 0 $c-grey-mid, inset 0 2px 0 0 $c-grey-lighterman;
      position: relative;
      margin: 0 auto;
      background-color: $c-grey-lightest;
      color: $c-background;
      padding: 5px 15px 5px 15px;
      z-index: 2;
      @include mq(mobile) {
        width: 90%;
        margin-top: 10%;
      }
      @include mq(leftCol) {
        width: 50%;
        margin-top: 5%;
      }
    }
    &-legal {
      border-top: 1px solid rgba(60,60,60,0.5);
      padding-top: 3px;
      margin-top: 15px;
      color: $c-grey-light;
    }
    &-headline {
      @include fs-bodyCopy(2);
      font-weight: 800;
    }
  }
  &--show-about {
    display: block;
  }
  &--meta {
    color: $c-grey-light;
    @include fs-textSans(4);
    font-weight: 400;
    font-size: 14px;
  }
  &--standfirst {
    &-wrapper {
      @include dividers;
      @include divider-invisible;
      @include fs-bodyCopy(2);
      @include mq(mobile) {
        padding-left: 1%;
      }
      @include mq(mobileLandscape) {
        padding-left: 0;
        width: 50%;
        display: inline-block;
      }
      @include mq(tablet) {
        padding-left: 0;
      }
      @include mq(desktop) {
        padding-left: 0;
        width: 70%;
      }
      @include mq(leftCol) {
        left: 115px;
        width: 50%;
        padding-left: 4%;
        position: relative;
      }
      @include mq(wide) {
        left: 190px;
      }
    }
    &-shortdesc,
    &-longdesc{
      color: white;
    }
    &-read-more {
        @include icon-showmore;
        width: 200px;
        text-indent: 4px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
    }
    &-shortdesc {
      overflow : hidden;
      text-overflow: ellipsis;
    }
    &-hidden {
      display: none;
    }
  }
  &--show-hidden {
    display: block;
    @include icon-showless;
  }
  &--credits {
    &-wrapper{
      margin: 0;
      padding: 5px 0 10px 0;
      color: $c-white;
      li {
        list-style-type: none;
      }
    }
    &-title {
    @include fs-bodyCopy(2);
    font-weight: 800;
    font-size: 15px;
    }
  }
  &--sponsor {
    @include dividers;
    width: 100%;
    height: 72px;
    position: relative;
    font-size: 14px;
    @include mq(mobileLandscape) {
      width: 35%;
      right: 20px;
      top: 110px;
      display: inline-block;
      position: absolute;
    }
    @include mq(desktop) {
      width: 218px;
    }
    @include mq(leftCol) {
      @include divider-invisible;
      left: 20px;
      top: 0;
    }

    &-logo {
      cursor: pointer;
      span {
        position: absolute;
        padding-top: 12px;
        &:nth-child(2){
          top: 45px;
          left: 90px;
          font-size: 11px;
        }
      }
      @include mq (leftCol) {
        span {
          padding-top: 0;
          &:nth-child(2){
            top: 85px;
            left: 0;
          }
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 90px;
        top: 5px;
        width: 115px;
        height: 47px;
        background-image: url('https://interactive.guim.co.uk/video-docs-assets/bertha-logo@3x.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include mq(mobileLandscape) {
          top: 10px;
        }
        @include mq (leftCol) {
          left: 0;
          top: 35px;
        }
      }
    }
  }
  &--timestamp {
    @include icon-timestamp;
    @include dividers;
    font-size: 12px;
    width: 45%;
    display: inline-block;
    @include mq(mobileLandscape) {
      @include divider-invisible;
      width: 35%;
      right: 20px;
      top: 0;
      position: absolute;
      font-size: 14px;
    }
    @include mq(desktop) {
      width: 218px;
      top: 0;
      right: 20px;
    }
    @include mq(leftCol) {
      right: 100px;
    }
    svg {
      padding-right: 4px;
    }
    span {
      margin-top: -5px;
    }
  }
  &--social {
    @include dividers;
    width: 45%;
    position: absolute;
    right: 20px;
    display: inline-block;
    @include mq(mobileLandscape) {
      width: 35%;
      top: 40px;
      right: 20px;
    }
    @include mq(desktop) {
      width: 218px;
      right: 20px;
    }
    @include mq(leftCol) {
      top: 35px;
      right: 100px;
    }
    &button.docs--social {
      background-color: transparent;
      border: solid 0.7px $c-share-border;
      opacity: 0.6;
      right: 0;
    }

    .interactive-share {
      background-color: transparent;
      border: solid 0.7px $c-share-border;
      opacity: 0.6;
      margin-right: 6px;
      &:hover {
          background-color: $c-background;
      }
    }
    &-buttons {
      position: absolute;
      right: 0;
      top: 15px;
    }
    &-share-container {
      @include icon-share;
      color: $c-grey-light;
      font-size: 14px;
      height: 36px;
      @include fs-textSans(4);
      font-weight: 400;
      border-right: 1px solid rgba(153,153,153,0.1);
      width: 38%;
      @include mq(mobileLandscape) {
        width: 55%;
        svg {
          width: 16px;
          width: 16px;
        }
      }
      padding-right: 13px;
      svg {
        color: $c-grey-light;
        padding-top: 10px;
        float: left;
      }
    }
    &-share-number {
        padding-left: 20px;
        @include mq(mobileLandscape) {
          padding-left: 20px;
          padding-top: 4px;
          line-height: 12px;
        }
    }
    &-share-font-bold {
      @include fs-textSans(4);
      font-weight: 500;
      font-size: 15px;
      @include mq(mobileLandscape) {
        font-size: 16px;
      }
    }
    &-share-wrap {
      display: block;
      margin-top: -4px;
      @include mq(mobileLandscape) {
        display: inline-block;
        font-size: 14px;
        margin-left: 4px;
      }
    }
  }
}
