body.germany .docs__poster {
    &--image {
        .people__germany {
            display: block;

            width: 300px;
            @include mq(tablet) {
                width: 360px;
            }
            @include mq(desktop) {
                width: 380px;
            }
            @include mq(leftCol) {
                width: 430px;
            }
            @include mq(wide) {
                width: 480px;
            }

            img {
                margin-left: -33%;
                margin-bottom: 24px;
                @include mq(tablet) {
                    margin-left: -20%;
                    margin-bottom: -30px;
                }
                @include mq(desktop) {
                    margin-left: 5%;
                }
                @include mq(leftCol) {
                    margin-left: -30%;
                }
                @include mq(wide) {
                    margin-left: -20%;
                }
            }
        }
        .maps__germany {
            display: block;
            margin-left: 68px;
            margin-top: -180px;
            @include mq(tablet) {
                margin-left: 218px;
                margin-top: -300px;
            }
            @include mq(desktop) {
                margin-left: 294px;
                margin-top: -342px;
            }
            @include mq(leftCol) {
                margin-left: 294px;
                margin-top: -408px;
            }
            @include mq(wide) {
                margin-left: 454px;
                margin-top: -438px;
            }
        }
    }
}

