body.uk .docs__poster {
    &--image {
        .people__uk {
            display: block;
            @include mq(desktop) {
                overflow: visible;
            }
            @include mq(leftCol) {
                overflow: hidden;
            }
            img {
                margin-left: 0;
                margin-bottom: -2px;
                @include mq(tablet) {
                    margin-left: 0;
                }
                @include mq(desktop) {
                    margin-left: 22%;
                }
                @include mq(leftCol) {
                    margin-left: -10%;
                }
                @include mq(wide) {
                    margin-left: 0;
                }
            }
        }
        .maps__uk {
            display: block;
            margin-left: 180px;
            margin-top: -182px;
            @include mq(tablet) {
                margin-left: 314px;
                margin-top: -280px;
            }
            @include mq(desktop) {
                margin-left: 394px;
                margin-top: -327px;
            }
            @include mq(leftCol) {
                margin-left: 484px;
                margin-top: -388px;
            }
            @include mq(wide) {
                margin-left: 554px;
                margin-top: -429px;
            }
        }
    }
}

