.docs__poster {
    &--image {
        overflow: hidden;
        background-position: center center;
        background-image: url(https://uploads.guim.co.uk/2020/02/28/player-background.jpg);
        background-size: 600px 400px;
        background-repeat: repeat;
        @media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
          background-image: url(https://uploads.guim.co.uk/2020/02/28/player-background@2x.jpg);
        }

        .maps__map {
            display: none;
            position: absolute;
            width: 591px;
            z-index: 10;
            @include mq(tablet) {
                width: 780px;
            }
            @include mq(desktop) {
                width: 900px;
            }
            @include mq(leftCol) {
                width: 1020px;
            }
            @include mq(wide) {
                width: 1120px;
            }
        }

        .europeans-visuals {
            @include mq(tablet) {
                width: 720px;
                height: 100%;
                margin: 0 auto;
                position: relative;
            }
            @include mq(desktop) {
                width: 1000px;
            }
            @include mq(leftCol) {
                width: 1140px;
            }
            @include mq(wide) {
                width: 1300px;
            }
        }
        .people__person {
            display: none;
            overflow: hidden;
            position: absolute;
            z-index: 20;
            bottom: 0;
            left: 0;
            width: 330px;
            @include mq(tablet) {
                width: 400px;
            }
            @include mq(desktop) {
                width: 420px;
            }
            @include mq(leftCol) {
                width: 480px;
            }
            @include mq(wide) {
                width: 540px;
            }
            img {
                width: 100%;
            }

            // &:before {
            //     content: '';
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     width: 1px;
            //     height: 246px;
            //     background-color: #062962;
            // }
        }

    }
}

