body.poland .docs__poster {
    &--image {
        .people__poland {
            display: block;
            img {
                margin-left: -37%;
                margin-bottom: 50px;
                @include mq(phablet) {
                    margin-bottom: -2px;
                    margin-left: -15%;
                }
                @include mq(desktop) {
                    margin-left: 0;
                }
                @include mq(leftCol) {
                    margin-left: -38%;
                }
                @include mq(wide) {
                    margin-left: -30%;
                }
            }
        }
        .maps__poland {
            display: block;
            margin-left: 0px;
            margin-top: -160px;
            @include mq(tablet) {
                margin-left: 168px;
                margin-top: -300px;
            }
            @include mq(desktop) {
                margin-left: 254px;
                margin-top: -367px;
            }
            @include mq(leftCol) {
                margin-left: 214px;
                margin-top: -408px;
            }
            @include mq(wide) {
                margin-left: 354px;
                margin-top: -438px;
            }
        }
    }
}

