@import '../../bower_components/guss-typography/_typography.scss';

html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures; }

html {
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
