//
//  Function to create an optimized svg url
//

//
//  Function to replace characters in a string
//
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace);
    }
    @return $string;
}

@function svg-url($svg){
    //
    //  Chunk up string in order to avoid
    //  "stack level too deep" error
    //
    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        //
        //   Encode (may need a few extra replacements)
        //
        $chunk: str-replace($chunk,'"','\'');
        $chunk: str-replace($chunk,'<','%3C');
        $chunk: str-replace($chunk,'>','%3E');
        $chunk: str-replace($chunk,'&','%26');
        $chunk: str-replace($chunk,'#','%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }
    @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index +
            str-length($search)), $search, $replace);
    }
    @return $string;
}



@mixin dividers {
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $c-divider;
    margin: 5px 0 4px 0;
    display:block;
    }
}

@mixin divider-invisible {
  &:before {
    background-color: transparent;
  }
}

@mixin icon-showmore {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M8 0.5c-4.4 0-8 3.6-8 8 0 4.4 3.6 8 8 8 4.4 0 8-3.6 8-8C16 4.1 12.4 0.5 8 0.5zM13.5 8.9L8.6 9.1 8.4 14H7.6L7.4 9.1 2.5 8.9V8.1L7.4 7.9 7.6 3h0.8L8.6 7.9l4.9 0.2V8.9z" style="fill:#DDDBD7;opacity:0.6"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float:left;
    margin: 4px 0 0;
  }
}

@mixin icon-play-small {
  &:before {
    content: '';
    background-image: svg-url('<svg width="32" height="32" viewBox="-1 -1 34 34" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#FEBB00" width="32" height="32" rx="16"/><path fill="#333" d="M25 16.332L11.498 22 11 21.646V10.4l.498-.4L25 15.712"/></g></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -1px;
    left: -2px;
  }
}

@mixin icon-play {
  &:after {
    content: '';
    width: 20px;
    height: 17px;
    background-image: svg-url('<svg width="20" height="17" viewBox="1404 6229 20 17" xmlns="http://www.w3.org/2000/svg"><path fill="#333" fill-rule="evenodd" d="M1424 6237.97l-19.29 8.03-.71-.502v-15.933l.71-.565 19.29 8.092"/></svg>');
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }
}

@mixin icon-showless {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M8 0.5c-4.4 0-8 3.6-8 8 0 4.4 3.6 8 8 8 4.4 0 8-3.6 8-8C16 4.1 12.4 0.5 8 0.5zM13.5 8.9L8.6 9.1H7.4L2.5 8.9V8.1L7.4 7.9h1.2l4.9 0.2V8.9z" style="fill:#DDDBD7;opacity:0.6"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $c-grey-dark;
    display: block;
    position: absolute;
    margin-top: 4px;
  }

}

@mixin icon-timestamp {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M12 6c0 3.3-2.7 6-6 6C2.7 12 0 9.3 0 6 0 2.7 2.7 0 6 0 9.3 0 12 2.7 12 6zM6.4 1.1H5.6L5.2 6.2l0.8 0.7 4.2-0.4V5.7L6.8 5.5 6.4 1.1z" fill="#676767"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    margin-right: 3px;
    margin-top: 4px;
  }
}

@mixin icon-share {
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11.1 10.9"><path d="M11.1 9.3c0 0.9-0.7 1.6-1.6 1.6 -0.9 0-1.6-0.7-1.6-1.6 0-0.1 0-0.1 0-0.2L2.9 6.6c-0.3 0.3-0.7 0.5-1.1 0.5 -0.9 0-1.7-0.7-1.7-1.6 0-0.9 0.7-1.6 1.7-1.6 0.4 0 0.8 0.2 1.1 0.5l4.9-2.4C7.8 1.8 7.8 1.7 7.8 1.6 7.8 0.7 8.5 0 9.4 0c0.9 0 1.6 0.7 1.6 1.6 0 0.9-0.7 1.7-1.6 1.7 -0.4 0-0.8-0.2-1.1-0.4L3.4 5.3c0 0 0 0.1 0 0.2 0 0.1 0 0.2 0 0.2l4.9 2.4c0.3-0.3 0.7-0.4 1.1-0.4C10.3 7.6 11.1 8.4 11.1 9.3zM8.4 1.6c0 0.5 0.5 1 1 1 0.5 0 1-0.4 1-1 0-0.5-0.4-1-1-1C8.9 0.7 8.4 1.1 8.4 1.6zM10.4 9.3c0-0.5-0.4-1-1-1 -0.5 0-1 0.4-1 1 0 0.5 0.5 1 1 1C10 10.3 10.4 9.8 10.4 9.3z" fill="#999"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    @include mq(mobile) {
      top: 45%;
    }
    @include mq(mobileLandscape) {
      top: 42%;
    }
    @include mq($from:tablet) {
      top: 40%;
    }
  }
}

@mixin icon-close {
  &:before {
    cursor: pointer;
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M0 1.1l1-1 7 6.3L14.9 0l1 1L9.6 8l6.3 7 -1 1L8 9.6l-7 6.3L0 14.9l6.4-6.9L0 1.1z" fill="#ECECEC"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
  }
}

@mixin icon-newsletter {
  &:before {
      content: '';
      background-image: svg-url('<svg width="15" height="11" viewBox="10 10 15 11" xmlns="http://www.w3.org/2000/svg"><path d="M21.822 14.296l-.31-.323-4.434 2.18-4.434-2.18-.233.323 4.668 3.958 4.744-3.958zm.934-3.796h-11.59L10 12.52v7.51l1.244.97h11.59L24 20.03v-7.51l-1.244-2.02zm-.39 8.723H11.634v-6.946h10.734v6.946z" fill="#999" fill-rule="evenodd"/></svg>');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 11px;
  }
}

@mixin title-desertfire {
  &:after {
    content: '';
    background-image: svg-url('<svg width="235" height="38" viewBox="294 704 235 38" xmlns="http://www.w3.org/2000/svg"><path d="M294.404 740.758h13.624c12.272 0 16.848-6.604 16.848-18.408 0-11.232-4.42-17.628-17.316-17.628h-13.104v1.144l4.576.416v32.916l-4.628.416v1.144zm6.656-1.508v-33.02h6.344c10.608 0 15.392 4.004 15.392 16.432 0 11.804-4.68 16.588-14.924 16.588h-6.812zm40.508 1.924c4.16 0 6.76-1.196 8.424-2.184v-1.248c-1.82.884-4.108 1.872-8.112 1.872-8.06 0-10.556-4.888-10.4-12.948h19.396c0-8.32-3.64-12.74-10.244-12.74-6.344 0-11.128 4.992-11.128 13.572 0 7.644 2.756 13.676 12.064 13.676zm-10.036-15.808c.416-6.24 3.588-10.036 8.996-10.036 5.2 0 8.112 3.172 8.268 9.828l-17.264.208zm31.616 15.86c6.292 0 9.308-2.912 9.308-7.28 0-4.108-2.392-5.876-6.552-7.072l-3.484-.988c-4.056-1.144-5.2-2.756-5.2-5.512 0-3.328 2.34-4.992 6.24-4.992 2.912 0 4.576.52 5.824 1.3l.676 3.796h1.248l-.208-5.304c-1.82-.78-3.9-1.196-7.384-1.196-5.356 0-8.32 2.808-8.32 6.812 0 3.588 2.288 5.668 6.24 6.76l3.484.988c3.952 1.092 5.46 2.392 5.46 5.772 0 3.38-2.236 5.512-7.228 5.512-2.704 0-4.732-.728-6.344-1.56l-.728-4.316h-1.248l.364 5.772c1.82.78 4.316 1.508 7.852 1.508zm25.584-.052c4.16 0 6.76-1.196 8.424-2.184v-1.248c-1.82.884-4.108 1.872-8.112 1.872-8.06 0-10.556-4.888-10.4-12.948h19.396c0-8.32-3.64-12.74-10.244-12.74-6.344 0-11.128 4.992-11.128 13.572 0 7.644 2.756 13.676 12.064 13.676zm-10.036-15.808c.416-6.24 3.588-10.036 8.996-10.036 5.2 0 8.112 3.172 8.268 9.828l-17.264.208zm22.308 15.392h10.556v-1.04l-4.524-.364v-19.968c2.34-2.288 4.576-3.536 7.696-3.536.416 0 1.248 0 1.82.156v-1.716c-.364-.156-1.196-.208-1.612-.208-3.328 0-5.98 1.716-7.852 3.796h-.104v-3.536l-.26-.156-5.824.52v1.092l4.264.364v23.192l-4.16.364v1.04zm27.612.364c1.612 0 3.276-.52 4.368-1.144v-1.092c-1.196.416-2.34.728-3.744.728-3.12 0-4.472-1.144-4.472-4.68v-19.032h7.592v-1.56h-7.592v-6.344h-1.404l-.364 6.344-4.056.52v1.04h3.952v19.448c0 4.212 2.34 5.772 5.72 5.772zm18.044-.364h12.116v-1.144l-5.46-.416v-15.756h9.828l.468 4.94h1.248v-11.336h-1.248l-.468 4.94h-9.828V706.23h17.108l1.04 6.656h1.248l-.468-8.164h-25.532v1.144l4.576.416v32.916l-4.628.416v1.144zm28.496 0h10.504v-1.04l-4.316-.364v-25.012l-.26-.156-6.136.52v1.092l4.524.364v23.192l-4.316.364v1.04zm4.992-33.02c.884 0 1.508-.728 1.508-1.508s-.624-1.508-1.508-1.508-1.508.728-1.508 1.508.624 1.508 1.508 1.508zm7.54 33.02h10.556v-1.04l-4.524-.364v-19.968c2.34-2.288 4.576-3.536 7.696-3.536.416 0 1.248 0 1.82.156v-1.716c-.364-.156-1.196-.208-1.612-.208-3.328 0-5.98 1.716-7.852 3.796h-.104v-3.536l-.26-.156-5.824.52v1.092l4.264.364v23.192l-4.16.364v1.04zm29.952.416c4.16 0 6.76-1.196 8.424-2.184v-1.248c-1.82.884-4.108 1.872-8.112 1.872-8.06 0-10.556-4.888-10.4-12.948h19.396c0-8.32-3.64-12.74-10.244-12.74-6.344 0-11.128 4.992-11.128 13.572 0 7.644 2.756 13.676 12.064 13.676zm-10.036-15.808c.416-6.24 3.588-10.036 8.996-10.036 5.2 0 8.112 3.172 8.268 9.828l-17.264.208z" fill="#F6F6F6" fill-rule="evenodd"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    width: 235px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin logo-theguardiandocumentaries {
  &:after {
    content: '';
    background-image: svg-url('<svg width="214" height="19" viewBox="12 110 214 19" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M114.048 115.216c-.368-.256-.944-.368-1.44-.368-2.368 0-4.368 1.296-4.368 4.912 0 3.44 1.952 4.48 3.584 4.48 1.12 0 1.888-.496 2.256-.976h.096v.928h.256l3.536-.4v-.768l-.944-.528v-11.328h-.24l-3.728.592v.816l.992.448v2.192zm0 7.248c-.208.08-.464.16-.912.16-1.184 0-1.744-.96-1.744-3.168 0-2.528.704-3.376 1.648-3.376.528 0 .784.144 1.008.32v6.064zm8.752-7.648c-2.72 0-4.592 1.664-4.592 4.704s1.872 4.72 4.592 4.72c2.72 0 4.592-1.68 4.592-4.72s-1.872-4.704-4.592-4.704zm.016 8.176c-.992 0-1.488-.512-1.488-3.472s.496-3.472 1.488-3.472 1.456.512 1.456 3.472-.464 3.472-1.456 3.472zm9.664 1.232c1.456 0 2.704-.704 3.184-1.28v-.832c-.432.128-1.344.256-2.176.256-1.456 0-2.56-.896-2.56-3.008 0-2.448.752-3.376 1.744-3.376.4 0 .72.064.864.128l.512 1.76h1.552v-2.688c-.512-.192-1.808-.368-2.848-.368-2.96 0-4.88 1.76-4.88 4.704 0 2.832 1.568 4.704 4.608 4.704zm4.608-2.832c0 1.552.768 2.848 2.576 2.848 1.2 0 2.144-.528 2.72-1.232h.112v1.184h.24l3.632-.4v-.768l-1.008-.528v-7.664h-.24l-3.728.592v.816l.992.464v5.44c-.304.128-.576.208-1.072.208-.752 0-1.248-.176-1.248-1.2v-6.32h-.256l-3.728.592v.816l1.008.464v4.688zm9.536 2.608h4.736v-.816l-.784-.448v-5.888c.352-.16.672-.24.992-.24.816 0 1.104.336 1.104 1.264v4.864l-.784.448V124h4.544v-.816l-.784-.448v-5.904c.336-.144.688-.224.992-.224.8 0 1.104.336 1.104 1.264v4.864l-.784.448V124h4.72v-.816l-.976-.448v-5.52c0-1.648-.784-2.4-2.272-2.4-1.216 0-2.096.432-2.896 1.168h-.08c-.32-.8-.992-1.168-2.048-1.168-1.216 0-1.984.432-2.784 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124zm19.776-8.192c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm.336 4.208h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124zm11.792-2.448c0 1.904.832 2.688 2.608 2.688.928 0 1.936-.24 2.432-.528v-1.152c-.224.032-.64.064-.96.064-.864 0-1.104-.448-1.104-1.328v-4.72h1.952v-1.536h-1.952v-2.096l-2.976.416v1.68l-1.376.192v1.344h1.376v4.976zm10.16.72c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zm6.32-.64v.816l.992.464v6.064l-.944.448V124h5.152v-.832l-1.232-.448v-4.976c.512-.24 1.184-.32 1.984-.32.256 0 .576.032.752.08v-2.608c-.096-.032-.288-.048-.448-.048-.976 0-1.776.64-2.304 1.824h-.096v-1.888h-.256l-3.6.592zm6.832 0v.816l1.008.464v6.064l-.96.448V124h4.896v-.832l-.96-.448v-7.936h-.24l-3.744.592zm2.448-4.272c-.88 0-1.584.704-1.584 1.584 0 .864.704 1.568 1.584 1.568.864 0 1.584-.704 1.584-1.568 0-.88-.72-1.584-1.584-1.584zm7.2 4.704c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm3.552 4.432c2.848 0 4.032-1.28 4.032-3.152 0-1.36-.656-2.512-2.384-2.88l-1.056-.224c-.992-.208-1.232-.528-1.232-1.056 0-.544.48-.88 1.184-.88.48 0 1.104.112 1.312.224l.384 1.232h1.248v-2.208c-.704-.304-1.776-.464-2.832-.464-2.64 0-3.808 1.264-3.808 2.976 0 1.328.768 2.64 2.416 3.008l1.088.24c.96.208 1.184.48 1.184 1.136 0 .704-.592.896-1.44.896-.512 0-1.232-.096-1.44-.288l-.512-1.488h-1.264v2.368c.864.368 2.16.56 3.12.56z" fill="#FEBB00"/><path d="M13.376 121.552c0 1.904.832 2.688 2.608 2.688.928 0 1.936-.24 2.432-.528v-1.152c-.224.032-.64.064-.96.064-.864 0-1.104-.448-1.104-1.328v-4.72h1.952v-1.536h-1.952v-2.096l-2.976.416v1.68l-1.376.192v1.344h1.376v4.976zm5.2 2.448h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-4.992h-.24l-3.712.592v.784l1.024.464v9.904l-.976.448V124zm15.024-8.192c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm4.512 7.168c-1.632 0-2.192-.576-2.192-1.2 0-.432.112-.736.352-1.008h3.136c.736 0 1.072.224 1.072.688 0 .928-.512 1.52-2.368 1.52zm.016-11.136c.656 0 1.072.272 1.072 2.064s-.432 1.984-1.072 1.984c-.64 0-1.056-.16-1.056-1.984s.416-2.064 1.056-2.064zm1.968 6.208h-3.2c-.352 0-.64-.256-.64-.576 0-.24.176-.496.4-.656.48.144.88.176 1.472.176 2.304 0 3.888-1.04 3.888-2.992 0-.88-.368-1.376-.928-1.888v-.064l1.488.528h.208v-1.776h-.176l-2.288.448h-.128c-.56-.208-1.344-.432-2.064-.432-2.304 0-3.904 1.152-3.904 3.088 0 1.184.592 2.064 1.488 2.56v.096c-.512.352-1.504 1.104-1.504 2.048 0 .704.464 1.392 1.424 1.6v.096c-1.008.208-2.144.544-2.144 1.712 0 1.2 1.728 2.08 4.544 2.08 3.504 0 5.024-1.344 5.024-3.472 0-1.76-.976-2.576-2.96-2.576zm3.904-.64c0 1.552.768 2.848 2.576 2.848 1.2 0 2.144-.528 2.72-1.232h.112v1.184h.24l3.632-.4v-.768l-1.008-.528v-7.664h-.24l-3.728.592v.816l.992.464v5.44c-.304.128-.576.208-1.072.208-.752 0-1.248-.176-1.248-1.2v-6.32h-.256l-3.728.592v.816l1.008.464v4.688zm14.48.88c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zm6.32-.64v.816l.992.464v6.064l-.944.448V124h5.152v-.832l-1.232-.448v-4.976c.512-.24 1.184-.32 1.984-.32.256 0 .576.032.752.08v-2.608c-.096-.032-.288-.048-.448-.048-.976 0-1.776.64-2.304 1.824h-.096v-1.888h-.256l-3.6.592zm12.752-.16c-.368-.256-.944-.368-1.44-.368-2.368 0-4.368 1.296-4.368 4.912 0 3.44 1.952 4.48 3.584 4.48 1.12 0 1.888-.496 2.256-.976h.096v.928h.256l3.536-.4v-.768l-.944-.528v-11.328h-.24l-3.728.592v.816l.992.448v2.192zm0 7.248c-.208.08-.464.16-.912.16-1.184 0-1.744-.96-1.744-3.168 0-2.528.704-3.376 1.648-3.376.528 0 .784.144 1.008.32v6.064zm4.048-7.088v.816l1.008.464v6.064l-.96.448V124h4.896v-.832l-.96-.448v-7.936h-.24l-3.744.592zm2.448-4.272c-.88 0-1.584.704-1.584 1.584 0 .864.704 1.568 1.584 1.568.864 0 1.584-.704 1.584-1.568 0-.88-.72-1.584-1.584-1.584zm7.712 11.168c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zM97.648 124h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124z" fill="#F6F6F6"/></g></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    width: 214px;
    height: 19px;
  }
}


@mixin new-logo-theguardiandocumentaries {
  &:after {
    content: '';
    background-image: svg-url('<svg width="250" height="121" viewBox="338 453 250 121" xmlns="http://www.w3.org/2000/svg"><g opacity=".8" fill="#FFF" fill-rule="evenodd"><path opacity=".8" d="M485.63 477.15l-52.25 21.5-1.93-1.5.07-42.5 1.92-1.34 52.2 21.5m9.82 77.8l-51.28 21.1-1.9-1.4.07-41.7 1.9-1.3 51.22 21.1m-124.3-81.6l-2.1 1.5-.04 21c9.96 1.9 17.8 9.8 19.48 19.7l39.4-16.2V492l-56.7-23.4zm16.17 54.7c-3.44 9.2-12.27 15.7-22.64 15.7-1.8 0-3.5-.2-5.1-.5l-.08 12 1.66 1.3 45.1-18.5v-2l-19-7.8z"/><path opacity=".8" d="M389.25 503.4l-2.42 1.68c1.3 2.97 2.03 6.25 2.03 9.7 0 3.5-.74 6.8-2.08 9.8l-.05 34.22 2.43 1.9 66.02-27.17v-2.96l-65.93-27.17zm103.9 6.93v3.93l.5-.35v-3.3l-.5-.3v.2M449.7 509c-1.14 0-1.7.58-1.7 3.97 0 3.4.56 3.98 1.7 3.98s1.67-.58 1.67-3.98-.53-3.98-1.67-3.98m37.66 7.6l2.4-1V511c0-1.06-.35-1.45-1.26-1.45-.35 0-.76.1-1.14.26v6.8z"/><path opacity=".8" d="M476.7 517.87l-4.15.46h-.28v-1.36h-.13c-.66.8-1.74 1.42-3.12 1.42-2.07 0-2.95-1.5-2.95-3.3v-5.4l-1.16-.6v-1l4.3-.7h.3v7.2c0 1.1.6 1.3 1.5 1.3.6 0 .9-.1 1.2-.2v-6.3l-1.1-.5v-.9l4.3-.7h.3v8.8l1.2.6v.9zm-12.26-.97c-.55.66-2 1.47-3.66 1.47-3.48 0-5.28-2.15-5.28-5.4 0-3.37 2.2-5.4 5.6-5.4 1.2 0 2.68.2 3.26.43v3.08h-1.78l-.58-2.02c-.17-.07-.54-.14-1-.14-1.13 0-2 1.06-2 3.87 0 2.4 1.27 3.4 2.94 3.4.95 0 2-.2 2.5-.3v.9zm-14.76 1.5c-3.12 0-5.27-1.94-5.27-5.43 0-3.48 2.2-5.4 5.3-5.4s5.3 1.92 5.3 5.4c0 3.5-2.1 5.42-5.2 5.42zm-5.54-.53l-4.06.46h-.3v-1.06h-.1c-.42.55-1.3 1.12-2.6 1.12-1.86 0-4.1-1.2-4.1-5.2 0-4.2 2.3-5.7 5-5.7.58 0 1.24.1 1.66.4v-2.5l-1.14-.5v-.9l4.28-.7h.28v13l1.08.6v.8zm38.9.24v-.9l.9-.5v-5.6c0-1-.32-1.4-1.26-1.4-.37 0-.73.1-1.14.3v6.8l.9.5v1H477v-.9l1.13-.5V510l-1.18-.55v-.9l4.26-.67h.3v1.3h.1c.9-.82 1.8-1.3 3.2-1.3 1.2 0 2 .43 2.4 1.35h.1c.3-.3.7-.54 1-.75l-69-28.44-2.7 1.9-.1 61 2.8 2.15 64.7-26.6h-.8z"/><path opacity=".8" d="M436.6 512.9c0 2.53.64 3.63 2 3.63.5 0 .8-.1 1.04-.18v-6.96c-.26-.2-.55-.4-1.15-.4-1.1 0-1.9.9-1.9 3.8m91.6 3.6c.3 0 .7-.2.9-.4v-2.5l-.6-.3h-.2c-.8 0-1.5.6-1.5 1.5 0 1.2.6 1.5 1.3 1.5m-29-7.8c-.9 0-1.5.6-1.6 3.3l2.8-.2c0-2.8-.5-3.2-1.3-3.2"/><path opacity=".8" d="M516.08 518.1h-5.6v-.93l1.07-.5v-5.6c0-1.05-.44-1.44-1.38-1.44-.5 0-.97.1-1.4.28v6.8l1.1.5v1h-5.63v-.9l1.12-.5v-7l-1.17-.5v-.9l4.2-.6h.2v1.3h.1c.9-.8 2.2-1.3 3.5-1.3 1.7 0 2.5.9 2.5 2.8v6.4l1.1.5v1zm-15.36-1.86c1.3 0 2.04-.13 2.75-.35v.9c-.47.6-2.02 1.5-3.9 1.5-3.53 0-5.35-2-5.35-5.5 0-3.4 2-5.4 5.07-5.4 3 0 4.5 1.3 4.5 5.6h-6.2c.1 2 1.1 2.9 3 2.9zm-6.44 1.87h-5.42v-.9l.9-.5v-5.6c0-1-.35-1.4-1.26-1.4-.35 0-.76.1-1.14.3v6.8l.9.5v1h-5.2v-.9l.9-.5v-5.6c0-1-.34-1.4-1.28-1.4-.37 0-.73.1-1.14.3v6.8l.9.5v1H477v-.9l1.13-.5v-7l-1.18-.5v-.9l4.26-.6h.3v1.3h.1c.9-.8 1.8-1.3 3.2-1.3 1.2 0 2 .4 2.4 1.35h.1c.9-.9 1.9-1.37 3.3-1.37 1.7 0 2.6.87 2.6 2.76v6.3l1.1.5v.95zm39.6 0v-.9l.4-.2v-1.2l-1.7-.7v1.6l1.08.5v.8c-.33.2-1.1.5-1.92.5-1.07 0-2.02-.3-2.2-1.4h-.08c-.46.9-1.67 1.5-2.95 1.5-1.8 0-2.9-1.2-2.9-2.9 0-1.9 1.2-2.4 3.2-2.8l-5.8-2.4v4.7c0 1.1.3 1.6 1.3 1.6h1.1v1.3c-.5.4-1.7.6-2.8.6-2 0-3-.9-3-3V510H516v-1.4L471.37 490l-2.3 1.6-.03 16.2.24-.04h.3V515c0 1.2.56 1.4 1.43 1.4.6 0 .9-.1 1.2-.25v-6.2l-1.1-.55v-.9l4.3-.63h.3v8.8l1.2.6v.88l-4.1.46h-.3V517h-.1c-.6.8-1.7 1.42-3.1 1.42l-.1-.02v24.36l2.3 1.82 63.1-25.96v-.5h-.5zm18.38-9.4c-.94 0-1.5.7-1.55 3.4l2.9-.1c0-2.7-.4-3.2-1.3-3.2"/><path opacity=".8" d="M526.93 515c0 1.15.62 1.5 1.28 1.5.4 0 .8-.17 1-.37v-2.77l-.8.07c-.8.07-1.4.6-1.4 1.58"/><path opacity=".8" d="M560.95 518.37c-1.1 0-2.58-.22-3.57-.65v-2.7h1.45l.58 1.7c.3.22 1.1.33 1.7.33 1 0 1.7-.22 1.7-1.03 0-.75-.2-1.07-1.3-1.3l-1.2-.28c-1.9-.42-2.7-1.93-2.7-3.45 0-2 1.4-3.5 4.4-3.5 1.2 0 2.5.2 3.3.5v2.5h-1.4l-.4-1.4c-.2-.2-.9-.3-1.5-.3-.8 0-1.3.4-1.3 1s.3 1 1.4 1.2l1.2.2c2 .4 2.8 1.7 2.8 3.3 0 2.1-1.35 3.6-4.6 3.6zm-7.2-2.13c1.3 0 2.03-.13 2.74-.35v.9c-.5.6-2.1 1.5-3.9 1.5-3.6 0-5.4-2-5.4-5.5 0-3.4 2-5.4 5-5.4 3.1 0 4.5 1.3 4.5 5.6h-6.2c.1 2 1.1 2.9 3 2.9zm-6.43 1.87h-5.62v-.9l1.1-.5v-6.9l-1.15-.5v-.9l4.3-.7h.27v9.1l1.1.5v1zm-5.82-7.4c-.2 0-.57-.1-.86-.1-.92 0-1.7.1-2.28.4v5.7l1.42.6v1h-5.9v-.9l1.07-.5V510l-1.14-.56v-.93l4.2-.6h.3v2.1h.1c.6-1.4 1.6-2.1 2.7-2.1.2 0 .4 0 .5.1v3zm-7.84 7.3c-.33.2-1.1.5-1.92.5-1.07 0-2.02-.3-2.2-1.4h-.08c-.46.9-1.67 1.5-2.95 1.5-1.8 0-2.9-1.2-2.9-2.9 0-2.1 1.4-2.5 3.7-2.9l2-.3V511c0-1.3-.4-1.98-1.7-1.98h-.9l-.7 2.1h-1.6v-2.66c1-.32 2.2-.8 4-.8 2.8 0 4.4.8 4.4 3.13v5.9l1.1.5v.8zm-10.38-.1c-.57.4-1.73.6-2.8.6-2.03 0-2.98-.9-2.98-3.1v-5.7h-1.58v-1.5l1.58-.2v-2l3.4-.4v2.4h2.25v1.8h-2.24v5.4c0 1 .3 1.5 1.3 1.5.4 0 .9-.1 1.1-.1v1.3zm21.18-14.4c1 0 1.8.8 1.8 1.8s-.8 1.8-1.8 1.8-1.82-.8-1.82-1.8.8-1.8 1.82-1.8zm-26.96-20l-2.6 1.8-.03 24.2c.06.3.1.6.1 1v6.4l1.1.5v1h-1.2l-.05 24.2 2.6 2 70.2-28.9v-3.1l-70.12-28.9z"/><path opacity=".8" d="M475.28 507.6h.28v3.1l2.53-1.03-1.2-.5v-.9l4.2-.7h.3v.7l52.8-21.73v-2.64l-58.7-24.2-2.2 1.52-.1 46.68m26.2 10.5c-1.5 0-2.7-.37-3.6-1.03l-1.9 1.3-.1 50.93 2.3 1.8 62.7-25.77v-2.8l-59.3-24.45h-.2m-118 13.6c.9-1.68 1.3-3.6 1.3-5.78 0-6.47-3.6-9.47-10.9-9.47H360c-1.3 0-2.35-.94-2.35-2.12 0-.8.6-1.8 1.4-2.4 1.76.6 3.24.7 5.42.7 8.5 0 14.34-3.8 14.34-11v-.8c-.1-3.7-1.9-6.5-4.7-8.4 8.6 3.7 14.6 12.2 14.6 22.2 0 6.8-2.7 12.9-7.2 17.2zm-16.7 3.1c-6.2 0-8.4-2.2-8.4-4.6 0-1.63.9-3.86 3.9-3.86h9c2.9 0 4.6 1.58 4.6 3.85 0 2.6-1.9 4.6-9 4.6zm-9.4-10.42c-3.7.76-7.9 2.35-7.9 6.65v.4c-4.3-4.3-6.9-10.3-6.9-16.9 0-9.7 5.7-18.1 14-21.9-2.8 2-4.4 4.9-4.4 8.6 0 4.4 2.2 7.6 5.5 9.4l.2.1c-1.9 1.3-5.8 4.3-5.8 7.8 0 2.6 1.7 5.1 5.24 5.9zm9.2-30.78c2.5 0 4.4 1 4.4 7.6 0 6.58-2 7.3-4.4 7.3-2.3 0-4.3-.6-4.3-7.3 0-6.73 2-7.6 4.3-7.6zM341 476.06l-3.2 2.5v70.6l3.2 2.23 86.8-35.6v-3.9l-86.73-35.8z"/></g></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    width: 250px;
    height: 121px;
  }
}
