//
//  Function to create an optimized svg url
//

//
//  Function to replace characters in a string
//
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace);
    }
    @return $string;
}

@function svg-url($svg){
    //
    //  Chunk up string in order to avoid
    //  "stack level too deep" error
    //
    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        //
        //   Encode (may need a few extra replacements)
        //
        $chunk: str-replace($chunk,'"','\'');
        $chunk: str-replace($chunk,'<','%3C');
        $chunk: str-replace($chunk,'>','%3E');
        $chunk: str-replace($chunk,'&','%26');
        $chunk: str-replace($chunk,'#','%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }
    @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index +
            str-length($search)), $search, $replace);
    }
    @return $string;
}



@mixin dividers {
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $c-divider;
    margin: 5px 0 4px 0;
    display:block;
    }
}

@mixin divider-invisible {
  &:before {
    background-color: transparent;
  }
}

@mixin icon-showmore {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M8 0.5c-4.4 0-8 3.6-8 8 0 4.4 3.6 8 8 8 4.4 0 8-3.6 8-8C16 4.1 12.4 0.5 8 0.5zM13.5 8.9L8.6 9.1 8.4 14H7.6L7.4 9.1 2.5 8.9V8.1L7.4 7.9 7.6 3h0.8L8.6 7.9l4.9 0.2V8.9z" style="fill:#DDDBD7;opacity:0.6"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float:left;
    margin: 4px 0 0;
  }
}

@mixin icon-play-small {
  &:before {
    content: '';
    background-image: svg-url('<svg width="32" height="32" viewBox="-1 -1 34 34" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#FEBB00" width="32" height="32" rx="16"/><path fill="#333" d="M25 16.332L11.498 22 11 21.646V10.4l.498-.4L25 15.712"/></g></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -1px;
    left: -2px;
  }
}

@mixin icon-play {
  &:after {
    content: '';
    width: 20px;
    height: 17px;
    background-image: svg-url('<svg width="20" height="17" viewBox="1404 6229 20 17" xmlns="http://www.w3.org/2000/svg"><path fill="#333" fill-rule="evenodd" d="M1424 6237.97l-19.29 8.03-.71-.502v-15.933l.71-.565 19.29 8.092"/></svg>');
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }
}

@mixin icon-showless {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M8 0.5c-4.4 0-8 3.6-8 8 0 4.4 3.6 8 8 8 4.4 0 8-3.6 8-8C16 4.1 12.4 0.5 8 0.5zM13.5 8.9L8.6 9.1H7.4L2.5 8.9V8.1L7.4 7.9h1.2l4.9 0.2V8.9z" style="fill:#DDDBD7;opacity:0.6"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $c-grey-dark;
    display: block;
    position: absolute;
    margin-top: 4px;
  }

}

@mixin icon-timestamp {
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M12 6c0 3.3-2.7 6-6 6C2.7 12 0 9.3 0 6 0 2.7 2.7 0 6 0 9.3 0 12 2.7 12 6zM6.4 1.1H5.6L5.2 6.2l0.8 0.7 4.2-0.4V5.7L6.8 5.5 6.4 1.1z" fill="#676767"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    margin-right: 3px;
    margin-top: 4px;
  }
}

@mixin icon-share {
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11.1 10.9"><path d="M11.1 9.3c0 0.9-0.7 1.6-1.6 1.6 -0.9 0-1.6-0.7-1.6-1.6 0-0.1 0-0.1 0-0.2L2.9 6.6c-0.3 0.3-0.7 0.5-1.1 0.5 -0.9 0-1.7-0.7-1.7-1.6 0-0.9 0.7-1.6 1.7-1.6 0.4 0 0.8 0.2 1.1 0.5l4.9-2.4C7.8 1.8 7.8 1.7 7.8 1.6 7.8 0.7 8.5 0 9.4 0c0.9 0 1.6 0.7 1.6 1.6 0 0.9-0.7 1.7-1.6 1.7 -0.4 0-0.8-0.2-1.1-0.4L3.4 5.3c0 0 0 0.1 0 0.2 0 0.1 0 0.2 0 0.2l4.9 2.4c0.3-0.3 0.7-0.4 1.1-0.4C10.3 7.6 11.1 8.4 11.1 9.3zM8.4 1.6c0 0.5 0.5 1 1 1 0.5 0 1-0.4 1-1 0-0.5-0.4-1-1-1C8.9 0.7 8.4 1.1 8.4 1.6zM10.4 9.3c0-0.5-0.4-1-1-1 -0.5 0-1 0.4-1 1 0 0.5 0.5 1 1 1C10 10.3 10.4 9.8 10.4 9.3z" fill="#999"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    @include mq(mobile) {
      top: 45%;
    }
    @include mq(mobileLandscape) {
      top: 42%;
    }
    @include mq($from:tablet) {
      top: 40%;
    }
  }
}

@mixin icon-close {
  &:before {
    cursor: pointer;
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M0 1.1l1-1 7 6.3L14.9 0l1 1L9.6 8l6.3 7 -1 1L8 9.6l-7 6.3L0 14.9l6.4-6.9L0 1.1z" fill="#ECECEC"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
  }
}

@mixin icon-newsletter {
  &:before {
      content: '';
      background-image: svg-url('<svg width="15" height="11" viewBox="10 10 15 11" xmlns="http://www.w3.org/2000/svg"><path d="M21.822 14.296l-.31-.323-4.434 2.18-4.434-2.18-.233.323 4.668 3.958 4.744-3.958zm.934-3.796h-11.59L10 12.52v7.51l1.244.97h11.59L24 20.03v-7.51l-1.244-2.02zm-.39 8.723H11.634v-6.946h10.734v6.946z" fill="#999" fill-rule="evenodd"/></svg>');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 11px;
  }
}

@mixin logo-theguardiandocumentaries {
  &:after {
    content: '';
    background-image: svg-url('<svg width="214" height="19" viewBox="12 110 214 19" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M114.048 115.216c-.368-.256-.944-.368-1.44-.368-2.368 0-4.368 1.296-4.368 4.912 0 3.44 1.952 4.48 3.584 4.48 1.12 0 1.888-.496 2.256-.976h.096v.928h.256l3.536-.4v-.768l-.944-.528v-11.328h-.24l-3.728.592v.816l.992.448v2.192zm0 7.248c-.208.08-.464.16-.912.16-1.184 0-1.744-.96-1.744-3.168 0-2.528.704-3.376 1.648-3.376.528 0 .784.144 1.008.32v6.064zm8.752-7.648c-2.72 0-4.592 1.664-4.592 4.704s1.872 4.72 4.592 4.72c2.72 0 4.592-1.68 4.592-4.72s-1.872-4.704-4.592-4.704zm.016 8.176c-.992 0-1.488-.512-1.488-3.472s.496-3.472 1.488-3.472 1.456.512 1.456 3.472-.464 3.472-1.456 3.472zm9.664 1.232c1.456 0 2.704-.704 3.184-1.28v-.832c-.432.128-1.344.256-2.176.256-1.456 0-2.56-.896-2.56-3.008 0-2.448.752-3.376 1.744-3.376.4 0 .72.064.864.128l.512 1.76h1.552v-2.688c-.512-.192-1.808-.368-2.848-.368-2.96 0-4.88 1.76-4.88 4.704 0 2.832 1.568 4.704 4.608 4.704zm4.608-2.832c0 1.552.768 2.848 2.576 2.848 1.2 0 2.144-.528 2.72-1.232h.112v1.184h.24l3.632-.4v-.768l-1.008-.528v-7.664h-.24l-3.728.592v.816l.992.464v5.44c-.304.128-.576.208-1.072.208-.752 0-1.248-.176-1.248-1.2v-6.32h-.256l-3.728.592v.816l1.008.464v4.688zm9.536 2.608h4.736v-.816l-.784-.448v-5.888c.352-.16.672-.24.992-.24.816 0 1.104.336 1.104 1.264v4.864l-.784.448V124h4.544v-.816l-.784-.448v-5.904c.336-.144.688-.224.992-.224.8 0 1.104.336 1.104 1.264v4.864l-.784.448V124h4.72v-.816l-.976-.448v-5.52c0-1.648-.784-2.4-2.272-2.4-1.216 0-2.096.432-2.896 1.168h-.08c-.32-.8-.992-1.168-2.048-1.168-1.216 0-1.984.432-2.784 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124zm19.776-8.192c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm.336 4.208h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124zm11.792-2.448c0 1.904.832 2.688 2.608 2.688.928 0 1.936-.24 2.432-.528v-1.152c-.224.032-.64.064-.96.064-.864 0-1.104-.448-1.104-1.328v-4.72h1.952v-1.536h-1.952v-2.096l-2.976.416v1.68l-1.376.192v1.344h1.376v4.976zm10.16.72c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zm6.32-.64v.816l.992.464v6.064l-.944.448V124h5.152v-.832l-1.232-.448v-4.976c.512-.24 1.184-.32 1.984-.32.256 0 .576.032.752.08v-2.608c-.096-.032-.288-.048-.448-.048-.976 0-1.776.64-2.304 1.824h-.096v-1.888h-.256l-3.6.592zm6.832 0v.816l1.008.464v6.064l-.96.448V124h4.896v-.832l-.96-.448v-7.936h-.24l-3.744.592zm2.448-4.272c-.88 0-1.584.704-1.584 1.584 0 .864.704 1.568 1.584 1.568.864 0 1.584-.704 1.584-1.568 0-.88-.72-1.584-1.584-1.584zm7.2 4.704c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm3.552 4.432c2.848 0 4.032-1.28 4.032-3.152 0-1.36-.656-2.512-2.384-2.88l-1.056-.224c-.992-.208-1.232-.528-1.232-1.056 0-.544.48-.88 1.184-.88.48 0 1.104.112 1.312.224l.384 1.232h1.248v-2.208c-.704-.304-1.776-.464-2.832-.464-2.64 0-3.808 1.264-3.808 2.976 0 1.328.768 2.64 2.416 3.008l1.088.24c.96.208 1.184.48 1.184 1.136 0 .704-.592.896-1.44.896-.512 0-1.232-.096-1.44-.288l-.512-1.488h-1.264v2.368c.864.368 2.16.56 3.12.56z" fill="#FEBB00"/><path d="M13.376 121.552c0 1.904.832 2.688 2.608 2.688.928 0 1.936-.24 2.432-.528v-1.152c-.224.032-.64.064-.96.064-.864 0-1.104-.448-1.104-1.328v-4.72h1.952v-1.536h-1.952v-2.096l-2.976.416v1.68l-1.376.192v1.344h1.376v4.976zm5.2 2.448h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-4.992h-.24l-3.712.592v.784l1.024.464v9.904l-.976.448V124zm15.024-8.192c.736 0 1.136.384 1.136 2.768l-2.48.144c.032-2.384.528-2.912 1.344-2.912zm4.032 3.984c0-3.76-1.296-4.96-3.984-4.96-2.672 0-4.416 1.712-4.416 4.672 0 3.04 1.584 4.736 4.656 4.736 1.648 0 2.992-.736 3.408-1.312v-.864c-.624.192-1.264.304-2.4.304-1.632 0-2.464-.832-2.608-2.576h5.344zm4.512 7.168c-1.632 0-2.192-.576-2.192-1.2 0-.432.112-.736.352-1.008h3.136c.736 0 1.072.224 1.072.688 0 .928-.512 1.52-2.368 1.52zm.016-11.136c.656 0 1.072.272 1.072 2.064s-.432 1.984-1.072 1.984c-.64 0-1.056-.16-1.056-1.984s.416-2.064 1.056-2.064zm1.968 6.208h-3.2c-.352 0-.64-.256-.64-.576 0-.24.176-.496.4-.656.48.144.88.176 1.472.176 2.304 0 3.888-1.04 3.888-2.992 0-.88-.368-1.376-.928-1.888v-.064l1.488.528h.208v-1.776h-.176l-2.288.448h-.128c-.56-.208-1.344-.432-2.064-.432-2.304 0-3.904 1.152-3.904 3.088 0 1.184.592 2.064 1.488 2.56v.096c-.512.352-1.504 1.104-1.504 2.048 0 .704.464 1.392 1.424 1.6v.096c-1.008.208-2.144.544-2.144 1.712 0 1.2 1.728 2.08 4.544 2.08 3.504 0 5.024-1.344 5.024-3.472 0-1.76-.976-2.576-2.96-2.576zm3.904-.64c0 1.552.768 2.848 2.576 2.848 1.2 0 2.144-.528 2.72-1.232h.112v1.184h.24l3.632-.4v-.768l-1.008-.528v-7.664h-.24l-3.728.592v.816l.992.464v5.44c-.304.128-.576.208-1.072.208-.752 0-1.248-.176-1.248-1.2v-6.32h-.256l-3.728.592v.816l1.008.464v4.688zm14.48.88c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zm6.32-.64v.816l.992.464v6.064l-.944.448V124h5.152v-.832l-1.232-.448v-4.976c.512-.24 1.184-.32 1.984-.32.256 0 .576.032.752.08v-2.608c-.096-.032-.288-.048-.448-.048-.976 0-1.776.64-2.304 1.824h-.096v-1.888h-.256l-3.6.592zm12.752-.16c-.368-.256-.944-.368-1.44-.368-2.368 0-4.368 1.296-4.368 4.912 0 3.44 1.952 4.48 3.584 4.48 1.12 0 1.888-.496 2.256-.976h.096v.928h.256l3.536-.4v-.768l-.944-.528v-11.328h-.24l-3.728.592v.816l.992.448v2.192zm0 7.248c-.208.08-.464.16-.912.16-1.184 0-1.744-.96-1.744-3.168 0-2.528.704-3.376 1.648-3.376.528 0 .784.144 1.008.32v6.064zm4.048-7.088v.816l1.008.464v6.064l-.96.448V124h4.896v-.832l-.96-.448v-7.936h-.24l-3.744.592zm2.448-4.272c-.88 0-1.584.704-1.584 1.584 0 .864.704 1.568 1.584 1.568.864 0 1.584-.704 1.584-1.568 0-.88-.72-1.584-1.584-1.584zm7.712 11.168c-.16.176-.496.336-.816.336-.576 0-1.12-.32-1.12-1.312 0-.848.56-1.312 1.248-1.376l.688-.064v2.416zm-2.256-6.256c.192-.016.624-.032.768-.032 1.152 0 1.488.576 1.488 1.712v1.2l-1.712.288c-1.984.336-3.168.704-3.168 2.544 0 1.488.992 2.512 2.576 2.512 1.12 0 2.176-.48 2.576-1.28h.08c.144.96.976 1.264 1.904 1.264.72 0 1.392-.208 1.68-.368v-.672l-.944-.448v-5.2c0-2.016-1.44-2.72-3.84-2.72-1.568 0-2.576.416-3.424.688v2.336h1.392l.624-1.824zM97.648 124h4.896v-.816l-.944-.448v-5.888c.368-.144.768-.24 1.216-.24.816 0 1.2.336 1.2 1.264v4.864l-.944.448V124h4.896v-.816l-.976-.448V117.2c0-1.648-.752-2.384-2.24-2.384-1.216 0-2.304.432-3.104 1.168h-.096v-1.168h-.24l-3.712.592v.784l1.024.464v6.08l-.976.448V124z" fill="#F6F6F6"/></g></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    width: 214px;
    height: 19px;
  }
}
