#docs--poster {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 540px;
  transform: translateY(-50%);
}

.docs__poster {
  &--wrapper {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 1900px;
    height: 540px;
    position: relative;
    &:hover {
        cursor: pointer;
        .docs__poster--play-button {
          color: $c-media-default;
          animation-name: buttonSwitchIn;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }
        .docs__poster--play-button:after {
          border-color: transparent transparent transparent $c-media-default;
      }
    }
  }
  &--title-wrapper {
    max-width: 1300px;
    height: 540px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    @include mq(mobileLandscape) {
      padding: 0 20px 0 20px;
      width: 580px;
    }
    @include mq(tablet) {
      width: 700px;
    }
    @include mq(desktop) {
      width: 910px;
    }
    @include mq(leftCol) {
      width: 1100px;
    }
    @include mq(wide) {
      width: 1260px;
    }
  }
  &--image {
    position: absolute;
    width: 100%;
    background-image: url('//media.guim.co.uk/f240e0d95c62184e0b582ad068aee627a255671e/0_0_1920_1080/1920.jpg');
    height: 540px;
    background-position: center center;
    background-size: cover;
  }
  &--gradient-fill {
    position: absolute;
    left: 0;
    margin-left: -80px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1500px;
    height: 540px;
    opacity: 0.53;
    background-image: radial-gradient(circle at 23% 54%, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0));
    @include mq($until:desktop) {
      margin-left: -95px;
    }
  }
  &--title {
    width: 400px;
    height: 310px;
    bottom: 0;
    left: 6%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    @include mq(mobileLandscape) {
      left: 3%;
    }
    @include mq(tablet) {
      left: 2%;
    }
    @include mq(desktop) {
      left: 0;
    }
    @include mq(leftCol) {
      left: 16%;
    }
    @include mq(wide) {
      left: 20%;
    }
  }
  &--headline {
    position: absolute;
    @include fs-headline(3);
    font-weight: 900;
    font-size: 52px;
    line-height: 48px;
    color: white;
    z-index: 10;
    text-shadow: 0 0 24px rgba(51, 51, 51, 0.5);
  }
  &--logo{
    font-family: "Guardian Titlepiece Web";
    font-size: 22px;
    font-weight: 400;
    bottom: 0;
    z-index: 5;
    position: absolute;
    color: white;
    text-shadow: 0 0 14px rgba(51, 51, 51, 0.5);
    @include mq(desktop) {
      font-size: 28px;
    }
  }
  &--play-button {
    position:absolute;
    top: 56px;
    width: 100%;
    z-index: 2;
    max-width: 170px;
    padding: 0 10px 0 10px;
    height: 46px;
    background-color: $c-media-default;
    border-radius: 30px;
    animation-name: buttonSwitchOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
      &:before {
        position: absolute;
        content: 'Watch now | ' attr(data-duration);
        @include fs-textSans(4);
        font-weight: 500;
        text-align: center;
        top: 26%;
        left: 27%;
      }
      &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 15%;
              transform: translate(-40%, -50%);
              border-style: solid;
              border-width: .5em 0 .5em 1.3em;
              border-color: transparent transparent transparent $c-grey-dark;
          }
  }
  &--yellow {
    color: $c-media-default;
  }
}

@keyframes buttonSwitchIn {
    from {background-color: $c-media-default;}
    to {background-color: $c-grey-dark;}
}

@keyframes buttonSwitchOut {
    from {background-color: $c-grey-dark;}
    to {background-color: $c-media-default;}
}
