.docs__poster--loader {
    position: absolute;
    top: 0;
    width: 100%;
}

.docs__poster--hide {
    display: none;
}

.docs__poster {
    &--wrapper,
    &--title-wrapper {
        height: 460px;
        max-height: calc(100vh - 96px);
        min-height: 420px;
        @include mq(tablet) {
            height: 500px;
        }
        @include mq(desktop) {
            height: 551px;
        }
        @include mq(leftCol) {
            height: 620px;
            &--playing {
                height: 641px;
            }
        }
        @include mq(wide) {
            height: 680px;
            &--playing {
                height: 731px;
            }
        }
    }
    &--wrapper {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
    }
    &--title-wrapper {
        max-width: 1300px;
        z-index: 10;
        position: relative;
        margin: 0 auto;
        @include mq(mobileLandscape) {
            max-width: 580px;
            padding: 0 10px
        }
        @include mq(tablet) {
            width: 740px;
            max-width: 1300px;
        }
        @include mq(desktop) {
            width: 940px;
        }
        @include mq(leftCol) {
            width: 1140px;
        }
        @include mq(wide) {
            width: 1300px;
        }

        .has-curtains {
            @include mq(weirdness) {
                &:before {
                    left: -10px;
                }
                &:after {
                    right: -10px;
                }
            }
            @include mq(tablet) {
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
            @include mq(desktop) {
                &:before {
                    left: -20px;
                }
                &:after {
                    right: -20px;
                }
            }
            @include mq(leftCol) {
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
    &--image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-image: url(https://uploads.guim.co.uk/2020/02/28/player-background.jpg);
        background-size: 600px 400px;
        background-repeat: repeat;

        @media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
          background-image: url(https://uploads.guim.co.uk/2020/02/28/player-background@2x.jpg);
        }


        @media (inverted-colors: inverted) {
            filter: invert(100%);
        }
    }
    &--gradient-fill {
        position: absolute;
        width: 100vw;
        background-image: radial-gradient(circle at 23% 54%, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        height: 460px;
        max-height: calc(100vh - 96px);
        min-height: 420px;
        @include mq(tablet) {
            height: 500px;
        }
        @include mq(desktop) {
            height: 551px;
        }
        @include mq(leftCol) {
            height: 620px;
            &--playing {
                height: 641px;
            }
        }
        @include mq(wide) {
            height: 680px;
            &--playing {
                height: 731px;
            }
        }
    }
    &--title {
        height: auto;
        margin: 0 auto;
        transform-origin: center left;
        transform: translateX(-2px);
        z-index: 1;
        position: absolute;
        left: 14px;
        bottom: 18px;

        @include mq(mobileLandscape) {
            transform: translateX(-6px);
        }

        @include mq(mobileLandscape) {
            left: 18px;
        }
        @include mq(tablet) {
            left: 3%;
        }
        @include mq(desktop) {
            left: 0;
        }
        @include mq(leftCol) {
            left: 16%;
        }
        @include mq(wide) {
            left: 20%;
        }
    }
    &--headline {
        @include fs-headline(3);
        font-weight: 900;
        font-size: 42px;
        line-height: 44px;
        min-width: 50%;
        margin-left: -4px;
        margin-right: 4px;
        color: white;
        z-index: 10;
        text-shadow: 0 0 36px rgba(51, 51, 51, 0.4);
        display: inline-block;
        @include mq(phablet) {
            width: calc(100% - 125px);
            margin-top: 30px;
            margin-left: 0;
            font-size: 52px;
            line-height: 48px;
        }
        @include mq(tablet) {
            margin: 56px 0 0 10px;
            width: auto;
        }
    }
    &--play-button {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        transform-origin: center left;
        transition: all 160ms;
        transform: scale(0.67) translate(-9px, 9px);
        position: relative;
        z-index: 2;
        background-color: #FFFFFF;
        line-height: 26px;
        backface-visibility: hidden;
        vertical-align: top;
        cursor: pointer;

        @include icon-play;

        @include mq(phablet) {
            margin-top: 27px;
            display: inline-block;
            transform: scale(1) translate(0, 0);
            transform-origin: center;
            &:hover {
                transform: scale(1.06) translate(0, 0);
            }
        }

        .autoplay-timer {
            display: none;
        }
    }
    &--autoplay-stop-button {
        display: none;
        font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        background-color: rgba(22,22,22,0.4);
        color: $c-nearly-white;
        font-size: 18px;
        line-height: 34px;
        height: 32px;
        padding: 0;
        width: 94px;
        margin-left: 4px;
        margin-top: 9px;
        text-align: center;
        border-radius: 16px;
        transition: all 360ms;
        position: absolute;
        transform: translate(68px, -68px);
        @include mq(phablet) {
            position: relative;
            transform: translate(6px, 52px);
        }
        @include mq(desktop) {
            position: absolute;
            transform: none;
            bottom: -9px;
            left: 0;
        }
        &:hover {
            background-color: rgba(22,22,22,0.7);
        }
    }
    &--title.will-autoplay,
    &--title.cancelled-autoplay {
        @include mq(desktop) {
            padding-bottom: 32px;
        }
        @include mq($from: tablet, $until: desktop) {
            .docs__poster--headline {
                margin-top: 12px;
            }
        }
    }
    &--title.will-autoplay {
        .docs__poster--play-button {
            .autoplay-timer {
                display: block;
                overflow: visible;
                transform: rotate(-90deg);
                circle {
                    fill-opacity: 0;
                    stroke: #333;
                    stroke-width: 6px;
                    stroke-dasharray: 0 314px;
                    animation: closeDashArray 6s linear forwards;
                    transition: all 600ms;
                }
            }
        }
        .docs__poster--autoplay-stop-button {
            display: inline-block;
        }
    }
    &--title.cancelled-autoplay {
        @include mq($from: phablet, $until: desktop) {
            .docs__poster--play-button {
                transition: none;
                transform: scale(1) translate(0, 41px);
            }
        }
        .docs__poster--autoplay-stop-button {
            transition: all 300ms;
            display: block;
            transform: scale(0.9) translate(68px, -68px);
            opacity: 0;
            @include mq(desktop) {
                transform: scale(0.9);
            }
        }
    }
}


@keyframes closeDashArray {
    0%   {stroke-dasharray: 0 314px;}
    100%  {stroke-dasharray: 314px 314px;}
}
