#docs--poster {
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 540px;
    transform: translateY(-50%);
}

.docs__poster--loader {
    position: absolute;
    top: 0;
    width: 100%;
}

.docs__poster--hide {
    display: none;
}

.docs__poster {
    &--wrapper {
        display: block;
        width: 100%;
        height: 540px;
        transition: height 300ms;
        &--playing {
            // 103px is the header height (48) + chapters height (55)
            height: calc(100vh - 103px);
        }
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    &--title-wrapper {
        max-width: 1300px;
        height: 540px;
        z-index: 10;
        position: relative;
        margin: 0 auto;
        @include mq(mobileLandscape) {
            max-width: 580px;
        }
        @include mq(tablet) {
            width: 740px;
            max-width: 1300px;
        }
        @include mq(desktop) {
            width: 940px;
        }
        @include mq(leftCol) {
            width: 1140px;
        }
        @include mq(wide) {
            width: 1300px;
        }
    }
    &--image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
    }
    &--gradient-fill {
        position: absolute;
        width: 100vw;
        height: 540px;
        background-image: radial-gradient(circle at 23% 54%, rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0));
    }
    &--logo,
    &--title {
        left: 14px;
        @include mq(mobileLandscape) {
            left: 10px;
        }
        @include mq(tablet) {
            left: 3%;
        }
        @include mq(desktop) {
            left: 0;
        }
        @include mq(leftCol) {
            left: 16%;
        }
        @include mq(wide) {
            left: 20%;
        }
    }
    &--logo {
        width: 219px;
        height: 106px;
        overflow: hidden;
        text-indent: -9999em;
        @include new-logo-theguardiandocumentaries();
        position: absolute;
        top: 0;
        z-index: 5;
        transform-origin: bottom left;
        transform: scale(0.75);
        @include mq(tablet) {
            transform: scale(0.9);
        }
    }
    &--title {
        height: 350px;
        bottom: 0;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
        transform: scale(0.8);
        transform-origin: left;
        @include mq(tablet) {
            transform: none;
        }
    }
    &--headline {
        @include fs-headline(3);
        font-weight: 900;
        font-size: 52px;
        line-height: 48px;
        width: 50%;
        margin-top: 30px;
        margin-left: 10px;
        color: white;
        z-index: 10;
        text-shadow: 0 0 36px rgba(51, 51, 51, 0.4);
        display: inline-block;
        @include mq(tablet) {
            margin: 56px 0 0 10px;
            width: auto;
        }
    }
    &--play-button {
        margin-top: 27px;
        display: inline-block;
        width: 100px;
        z-index: 2;
        height: 100px;
        background-color: $c-media-default;
        border-radius: 100px;
        line-height: 26px;
        position: relative;
        transition: all 160ms;
        backface-visibility: hidden;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        @include icon-play;

        .autoplay-timer {
          display: none;
        }

        &:hover {
          transform: scale(1.05);
        }
    }
    &--autoplay-stop-button {
      display: none;
      font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      background-color: rgba(26,26,26,0.7);
      color: #f6f6f6;
      font-size: 18px;
      line-height: 34px;
      height: 32px;
      padding: 0;
      width: 94px;
      margin-left: 4px;
      margin-top: 9px;
      text-align: center;
      border-radius: 16px;
      transition: all 300ms;
      &:hover {
        background-color: rgba(0,0,0,0.7);
      }
    }
    &--title.will-autoplay {
      .docs__poster--play-button {
        .autoplay-timer {
          display: block;
          overflow: visible;
          transform: rotate(-90deg);
          circle {
            fill-opacity: 0;
            stroke: #333;
            stroke-width: 4px;
            stroke-dasharray: 0 314px;
            animation: closeDashArray 8s linear forwards;
            transition: all 600ms;
          }
        }
      }
      .docs__poster--autoplay-stop-button {
        display: block;
      }
    }
    &--title.cancelled-autoplay {
      .docs__poster--play-button {
        transform-origin: 0 50% 0;
        transform: scale(0.75);
        margin-right: -4.5%;
        &:hover {
          transform-origin: -2% 50% 0;
          transform: scale(0.78);
        }
      }
      .docs__poster--autoplay-stop-button {
        transition: all 300ms;
        display: block;
        transform: scale(0.9);
        opacity: 0;
      }
    }


    &--yellow {
        color: $c-media-default;
    }
}


@keyframes closeDashArray {
    0%   {stroke-dasharray: 0 314px;}
    100%  {stroke-dasharray: 314px 314px;}
}
